@import '../style/designsystem.scss';

.recipe-list-item {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;
    border:rgba(0, 0, 0, 0.5) solid 1px;
    width: 100%;
  }
  
  .recipe-list-item-details {
    font-size: 12px;
    color: $text-gray-color;
    margin: 14px 0;
    display: flex;
  
    > p {
      margin-right: 12px;
      text-align: center;
    }
  }