/* Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:wght@600&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;

}

.main {
    height: 100vh;
    background-color: #FF3D00;
}

.black {
    background-color: #18181A;
}

.container {
    padding-left: 70px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    padding-top: 29px;
    padding-left: 80px;
    margin-bottom: 240px;
}

.title-one {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.text-light {
    color: #fff;
}

.links {
    font-size: 35px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-right: 60px;

    &:hover {
        color: #FFAB00;
        cursor: pointer;
        transition: 0.5s;
    }
    transition: 0.5s;
}

.hero-image {
    position: absolute;
    right: 0;
    top: 0;
    max-height: 100vh;
}