@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:wght@700&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}

.head {
    margin-top: 2rem; 
    font-size: 3rem; 
    font-weight: bolder;
    color: #282828; 
}

.section-2 {
    color: #cacaca;
}

ul li {
    font-size: 3rem; 
    font-weight: bold;
}
